.section{
    width: 100%;
    overflow: visible;
    position: relative;
}
.containerBeer{
    white-space: nowrap;
    margin: 70px 70px;
    padding-bottom: 10px; 
    display: flex;
    flex-direction: row;
}
.beer{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 30px 30px 0px 0px;
    /* width: 295px; */
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin: 50px 12px;
    border: 2px dashed rgba(0, 0, 0, 0.527);
}
.img{
    /* border-style:hidden; */
    margin-top: -30px;
    height: 150px;
    width: 70px;
    object-fit: cover;
}
.h6{
    margin: 0px;
}