.container{
  max-width: 100%;
  padding: 15px;
  display: flex;
  margin-left: 10%;
}
.name{
font-style: italic;

}
.p{
font-style: oblique;
color: rgb(73, 72, 72);
}
.left-column {
  width: 40%;
  position: relative;
}
.right-column {
  width: 50%;
}
.review-colomn {
padding: 5px;
 border:2px solid #64af3d;
 margin: 5px;
 border-radius: 10px;
}
.left-column img {
margin-top: 3%;
width: 80%;
height: 100%;
position: absolute;

}
.product-price {
  display: flex;
  align-items: center;
}
 
 
.cart-btn {
  display: inline-block;
  border: none;
  background-color: #3498db;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #2e81b8;
}

.imagenDetail {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  object-fit: contain;
}