.select{
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
}
.containerBeer{
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px; 
    display: flex;
    flex-direction: row;
}
