.select{
    width: 100%;
    margin: 30px 0px 40px 40px;
    overflow: auto;
    padding: 0px;
    position: relative;
}
.containerBeer{
    white-space: nowrap;
    margin: 10px;
    padding-bottom: 10px; 
    display: flex;
    flex-direction: row;
}
.beerprod{
    display: flex;
    justify-content: center;
    /* border: black solid 5px; */
}
