.LandingPage{
    background-image: url(https://estaticos.miarevista.es/media/cache/1140x_thumb/uploads/images/gallery/5a5795b35bafe814130f6681/cervezasabores-ppal_0.jpg);
    background-position: center center;
    filter: blur(6px);
    background-attachment: fixed;
    position: fixed;
    width: 100%;
    height: 100%;
  }
  .cont{
    margin-left: 45%;
    margin-top: 18%;
    position: absolute;
   }
.boton{
    color: white;
    background-color: rgba(13, 13, 14, 0.836);
    margin-left: 15%;
    cursor:pointer; cursor: hand;
    width: 100px;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    transition: box-shadow 0.2s ease-in-out;
}